body {
    color: #3D3D3D;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}
.btn-theme {
    background-color: #0984e3;
}
.blog-post div {
    text-align: center;
    padding: 20px 0;
}
p {
    padding: 10px 0;
    line-height: 1.7em;
}
.blog-post img {
    width: 100%;
    height: auto;
}
@media (min-width: 576px) { 
    .blog-post p,
    .blog-header {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 768px) { 
    .blog-post p,
    .blog-header {
        width: 70%;
        margin: auto;
    }
 }

@media (min-width: 992px) {
    .blog-post p,
    .blog-header {
        width: 60%;
        margin: auto;
        height: auto;
    }
 }

@media (min-width: 1200px) { 
    .blog-post p,
    .blog-header {
        width: 50%;
        margin: auto;
    }
 }

.blog-thumbnail {
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

.paralax-banner {
    background-attachment: fixed; 
    background-position: top center;
    background-repeat: no-repeat;
    height: 300px;
}